@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --moderateViolet: hsl(263, 55%, 52%);
  --grayishBlue: hsl(217, 19%, 35%);
  --blackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(0, 0%, 81%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: auto;
  text-size-adjust: auto;
}

body {
  font-size: 0.8125rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--lightGrayishBlue);
}
h4,
h5 {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}
